<!-- <h3>
	Cart
</h3>
<p>
	<a routerLink="/shipping">Shipping Prices</a>
</p>
<div *ngFor="let item of items">

	<span>{{item.name}}</span>
	<span>{{item.price | currency}}</span>

</div> -->
<h3>Cart</h3>
<a (click)="routeTo404()">404 Router</a>
<p>
	<a routerLink="/shipping"> Shipping Prices</a>
</p>
<p>
	<a routerLink="/">Products</a>
</p>
<p>
	<a routerLink="/ise">Internal Server Error</a>
</p>
<p>
	<a routerLink="/**">Page Not Found</a>
</p>
<p>
	<a routerLink="/error">Error</a>
</p>


<div *ngFor="let item of items">
	<span> {{ item.name }} </span>
	<span> {{ item.price | currency }} </span>
</div>